dataset/

*.record

object_detection/workspace/training_rup/exported-models/*
!object_detection/workspace/training_rup/exported-models/README.md
!object_detection/workspace/training_rup/exportex-models/images/

object_detection/workspace/training_rup/mobile/*
!object_detection/workspace/training_rup/mobile/README.md

object_detection/workspace/training_rup/models/*
!object_detection/workspace/training_rup/models/README.md

object_detection/workspace/training_rup/pre-trained-models/*
!object_detection/workspace/training_rup/pre-trained-models/README.md
