<!DOCTYPE HTML>
<html>
	<head>
		<title>RUP image gallery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='lens/assets/css/main.css') }}" />
		<noscript>
			<link rel="stylesheet" href="{{ url_for('static',filename='lens/assets/css/noscript.css') }}" />
		</noscript>
		<style>
			canvas{
				background:transparent;
			  }
		</style>
	</head>
	<body class="is-loading-0 is-loading-1 is-loading-2">
		<!-- Main -->
			<div id="main">
				<!-- Header -->
					<header id="header">
						<img src="static/rup.png" alt="rup"/>
						<p>RUP Deep Learning Image Gallery</p>
						<div style="width: 100%; float: right; font-size:smaller;">
							<input type="button" value="Detection" onclick="detection();" />
							<input type="button" value="파일삭제" onclick="delete_dir();" />
							<input type="button" value="파일다운" onclick="download();" />
						</div>
						<div style="clear:both:"></div>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/ruptalk" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						{% for filename in filenames %}
						<article>
							<a class="thumbnail" href="{{ url_for('static',filename='yolo/detection/'+filename[0]) }}">
								<img src="{{ url_for('static',filename='yolo/detection/'+filename[0]) }}" alt="" loading="lazy"/>
							</a>
							<h2>{{ filename[0] }}</h2>
							<p>{{ filename[1] }}/{{ filelen }}</p>
						</article>
						{% endfor %}
					</section>
				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://designscrazed.org/">HTML5</a>.</li>
						</ul>
					</footer>
			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='lens/assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='lens/assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static',filename='lens/assets/js/main.js') }}"></script>
			<script>
				function detection(){
					window.open("upload","_self","width=400, height=300, left=100, top=50").close(); 
				}
				function delete_dir(){
					window.open("delete_dir","_self","width=400, height=300, left=100, top=50").close();
				}
				function download(){
					window.open("download","_self","width=400, height=300, left=100, top=50"); 
				}
			</script>
			<script>
				$(document).ready(function(){
					var canvas = document.getElementById("canvas");
				  var ctx = canvas.getContext('2d');
				  ctx.lineWidth = 3;
				  ctx.strokeStyle = "#ff0000";
				  
				  var sX,sY,cX,cY;
				  var canvasX = $(canvas).offset().left;
				  var canvasY = $(canvas).offset().top;
				  var draw = false;
				  
				  // click 시 draw 시작
				  $("canvas").mousedown(function(e){
					sX=parseInt(e.clientX-canvasX);
					sY=parseInt(e.clientY-canvasY);
					draw = true;
				  })
				  $("canvas").mousemove(function(e){
					if(draw){
					  cX=parseInt(e.clientX-canvasX);
					  cY=parseInt(e.clientY-canvasY);
					  ctx.clearRect(0,0,canvas.width,canvas.height); //clear canvas
					  ctx.strokeRect(sX,sY,cX-sX,cY-sY);
					}
				  })
				  // 마우스 놓으면 rectangle 완성 및 popup 생성
				  $("canvas").mouseup(function(e){
					draw = false;
				  })
				})
			</script>
	</body>
</html>
