.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1 em;
}

img {
	width: 100%;
	height: auto;
}

.location-listing {
	position: relative;
	overflow: hidden;
}

.location-title {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(90,0,10,0.4);
}

.location-listing:hover .location-image img{
	filter: blur(2px);
}
.location-image {
	filter: blur(0px);
	transition: filter 0.3s ease-in;
	transform: scale(1.1);
}

.location-title {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(90,0,10,0.4);

	color: white;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	transition: opactiy .5s;
}
.location-listing:hover .location-title {
	opacity: 1;
}
